<div class="span-24 non_printable_block">
	
	<hr class="space"/>
	<hr class="space"/>
	<hr class="space"/>

	<div class="quiet" style="text-align:center">
		All text and design is copyright &copy; 2005-2014 <a href="http://www.mdmanage.com" style="text-decoration:none;" target="_blank">MDManage</a>. All rights reserved.
	</div>

</div>