<div class="span-24">
	<table class="advanced">
	  <thead>
	    <th class="span-24">Archived Records</th>
    </thead>
		
		<tbody>
			<tr><td><%= link_to 'Patients Archive', archives_patients_path %></td></tr>
		</tbody>
	</table>
</div>