<div class="span-24">
	
	<table class="advanced">
	  <thead>
	    <th class="span-24">Report Title</th>
    </thead>
	
		<tbody>
			<tr><td><%= link_to 'Weekly Summary Report', reports_weekly_summary_path %></td></tr>
			<tr><td><%= link_to 'Monthly Summary Report', reports_monthly_summary_path %> </td></tr>
		</tbody>
	</table>
	
</div>